<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-c">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-c`
     * componente hijo C
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteC extends Polymer.Element {
      static get is() { return 'componente-c'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-c'
          }
        };
      }
    }

    window.customElements.define(ComponenteC.is, ComponenteC);
  </script>
</dom-module>
