<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-c">
  <template>
    <style>
      :host {
        display: block;
      }
      main,header{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      table,th,td{
        border: 1px solid #000;
        border-collapse: collapse;
      }
    </style>
    <header>
      <h2>[[title]]</h2>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Title 1</th>
            <th>Title 2</th>
            <th>Title 3</th>
            <th>Title 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content 1</td>
            <td>Content 2</td>
            <td>Content 3</td>
            <td>Content 4</td>
          </tr>
          <tr>
            <td>Content 1</td>
            <td>Content 2</td>
            <td>Content 3</td>
            <td>Content 4</td>
          </tr>
          <tr>
            <td>Content 1</td>
            <td>Content 2</td>
            <td>Content 3</td>
            <td>Content 4</td>
          </tr>
          <tr>
            <td>Content 1</td>
            <td>Content 2</td>
            <td>Content 3</td>
            <td>Content 4</td>
          </tr>
        </tbody>
      </table>
    </main>
  </template>

  <script>
    /**
     * `componente-c`
     * componente hijo C
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteC extends Polymer.Element {
      static get is() { return 'componente-c'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Tabla de elementos'
          }
        };
      }
    }

    window.customElements.define(ComponenteC.is, ComponenteC);
  </script>
</dom-module>
